/* GLOBAL */
*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    background-color: #1f2937;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
}

body {
    height: 100vh;
    margin: 0;
}

/* SECTION HEIGHTS AND MAX WIDTH */
/* .top-parent {
    height: 40vh;
}

.mid-parent {
    height: 50vh;
}

.bottom-parent {
    height: 10vh;
} */

.max-width {
    width: 90vw;
    max-width: 980px;
    margin: 0 auto;
}

/* LIST RESET */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* BACKGROUND COLOR & FONT COLOR COMBOS */
.dark {
    color: #F9FAF8;
}

.light {
    background-color: #FFFFFF;
    color: #1F2937;
}

.grey {
    background-color: #E5E7EB;
    color: #1F2937;
}

.blue {
    background-color: #3882F6;
}

/* FLEX */
.flex-r {
    display: flex;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

/* PARENT PAGE LAYOUT */
.page-flex {
    height: 100%;
    justify-content: space-between;
}

.page-flex > * {
    flex: 1 1 auto;
}

/* TOP, MID & BOTTOM FLEX LAYOUT */
.mid-parent {
    height: 80vh;
}

.mid-parent > * {
    flex: 1 1 auto;
}

/* FIRST: Header & Hero */
/* -- Header */

.logo {
    /* margin: 0; */
}

/* SECOND: Some Random Information */
.title.container > .section-title {
    font-weight: bold;
}