/* GLOBAL */
*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    background-color: #1f2937;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
    font-family: 'Fredoka', sans-serif;
}

body {
    height: 100%;
    margin: 0;
    font-size: 100%;
}

.max-width {
    width: 90vw;
    max-width: 980px;
    margin: 0 auto;
}

/* FONT SIZES & FAMILIES */
.fred {
    font-family: 'Fredoka', sans-serif;
}

.mont {
    font-family: 'Montserrat', sans-serif;
}

.mont.italic {
    font-weight: 300;
    font-style: italic;
}

h1 {
    font-size: 2.488rem;
}

h2 {
    font-size: 2.074rem;
}

h3 {
    font-size: 1.728rem;
}

h4 {
    font-size: 1.44rem;
}

h5 {
    font-size: 1.2rem;
}

h6,
p {
    font-size: 1rem;
}

.sub {
    font-size: 0.833rem;
}

.s {
    font-size: 0.694rem;
}

.xs {
    font-size: 0.579rem;
}


/* LIST RESET */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* BACKGROUND COLOR & FONT COLOR COMBOS */
.dark {
    color: #F9FAF8;
}

.light {
    background-color: #FFFFFF;
    color: #1F2937;
}

.grey {
    background-color: #E5E7EB;
    color: #1F2937;
}

.blue {
    background-color: #3882F6;
}

/* BUTTON */
.btn {
    cursor: pointer;
    font-size: 1.075rem;
    background-color: #3882F6;
    color: #F9FAF8 !important;
    font-weight: bold;
    padding: 0.3rem 0;
    border: none;
    border-radius: 5px;
}

.btn.border {
    border: 2px solid #E5E7EB;
    padding: 0.3rem 1rem;
}

/* FLEX */
.flex-r {
    display: flex;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

/* PARENT PAGE LAYOUT */
.page-flex {
    height: 100%;
    justify-content: space-between;
}

.page-flex > * {
    flex: 1 1 auto;
}

/* TOP, MID & BOTTOM FLEX LAYOUT */
.mid-parent {
    height: 80vh;
    overflow-y: scroll;
}

.top-parent > *,
.mid-parent > * {
    flex: 1 1 auto;
}

.bottom-parent {
    max-height: 10vh;
}

/* FIRST: Header & Hero */
/* -- Header */
.header.flex-r {
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0.833rem 0;
}

/*-- Hero */
.hero {
    padding: 3rem 0;
    gap: 2rem;
}

.hero-text.flex-c {
    justify-content: space-between;
}

.hero.flex-r > *,
.hero-text.flex-c > * {
    flex: 1 1 0;
}

.hero-text > h1 {
    line-height: 90%;
    margin: 0;
    font-weight: extra-bold;
}

.subtext {
    margin-top: 0.333rem;
    margin-bottom: 1.22rem;
    color: #E5E7EB !important;
}

.hero-text > .btn {
    width: 25%;
}

.hero-image {
    background-color: #566b88;
}

.hero-image > .img {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

.hero-image > .img > small {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* SECOND: Some Random Information */
/* --- text align */
.title.container,
.card-text {
    text-align: center;
}

/* --- title */
.title.container > .section-title {
    font-weight: bold;
}

/* --- cards */
.cards-list.flex-r {
    width: 90%;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
}

.card.flex-c {
    justify-content: space-evenly;
    align-items: center;
}

.card-image {
    border: 3px solid #3882F6;
    border-radius: 0.833rem;
    height: 100px;
    width: 105px;
}

.card-text {
    width: 70%;
}

/* THIRD: Insporational Quote */
.section.third {
    display: flex;
    align-items: center;
}

.quote-text {
    font-size: 1.22rem;
}

figcaption {
    font-weight: bold;
    width: 30%;
    margin-left: auto;
}

/* FOURTH: CTA Card */
.section.fourth {
    display: flex;
    align-items: center;
    color: #F9FAF8;
}

.cta-card {
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 3.22rem;
}

.cta-text > * {
    margin: 0;
}

.cta-text > h5 {
    font-weight: 600;
    letter-spacing: 0.20rem;
}

.cta-btn {
    text-align: center;
}